name: Publish NPM Package

on:
  push:
#    tags:
#      - '[0-9]+.[0-9]+.[0-9]+'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
#      - name: Check out the code
#        uses: actions/checkout@v2
#
#      - name: Use Node.js
#        uses: actions/setup-node@v2
#        with:
#          node-version: '18'
#          registry-url: 'https://npm.pkg.github.com'
#          scope: '@ClockwiseSoftware'
#
#      - name: Publish package
#        run: npm publish
#        env:
#          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Install package
        run: npm i --location=global @clockwisesoftware/deploy-notify-slack@0.5.2

      - name: Notify Slack
        run: VERSION=$(npm run version --silent) && SLACK_WEBHOOK_URL=${{secrets.SLACK_WEBHOOK_URL}} STAGE=production VERSION=$VERSION FAILS_IF_NOT_SENT=true node /usr/local/lib/node_modules/@clockwisesoftware/deploy-notify-slack/notify.js